
/*.table thead th {
    border-bottom: 0px;
    border-top: 0px;
    font-weight:600;
    align-content:center;
}
.td {
    line-height: 1.6;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 10px;
}
.table td, .table th {
   
    padding: 1.25rem 0.75rem;
}
.table-border-style {
    padding: 8mm; 
    box-sizing: border-box;
}

.table {
    
    border: 2px solid black;*/ /* Sets the outer border */
    /*border-collapse: collapse;
    height: 210mm;
    width: 148mm;
}

    .table th, .table td {
        // border: 1px solid black;
        padding: 8px;*/ /* Adjust padding as needed */
        /*line-height: 3;
        word-wrap: break-word;
        padding-top: 5px;*/ /* Adjusts top padding */
        /*padding-bottom: 5px;*/ /* Adjusts bottom padding */
    /*}

    .table th {
        text-align: center;
        font-size: larger;
        font-weight: bold;
    }*/
.page {
    width: 210mm; /* A4 width */
    height: 297mm; /* A4 height */
    box-sizing: border-box;
    page-break-after: always; /* Ensure content breaks between pages */
}
.table {
    border: 2px solid black; /* Sets the outer border */
    border-collapse: collapse;
    width: 210mm;
    height: 148.5mm;
}